/*Button custome color*/

button:default {
  background-color: #E8E8E8;
}

button:hover{
  background-color: #383634;
  color: #fff;
}

button:active {
  background-color: #B99E80;
}

.button:disabled {
  background-color: #8C8C8C;
}

/* Input type custome css */

.input-color-default {
  border: 1px solid #383634;
  background-color: #f2f0ea;
  border-radius: 5px;
}

.input-color-hover:hover {
  border: 1px solid #8C8C8C;
  background-color: fff;
  border-radius: 5px;
}

.input-color-active:active {
  border: 1px solid #383634;
  background-color: #fff;
  border-radius: 5px;
}

.input-color-success:success {
  border: 1px solid #8BB980;
  background-color: #fff;
  border-radius: 5px;
}

.input-color-error:error {
  border: 1px solid #B98080;
  background-color: #fff;
  border-radius: 5px;
}

/* Custom width */

.inner-screen {
  width: 95.5%;
}

/* Custom hight */
.header-icons-hight {
  height: 70px;
  font-family: Oswald;
}

/* font color */

.white {
  color: #fff;
}