.mobile-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #F2F0EA;
  border-radius: 10px;
  padding: 10px 10px 50px 10px;
  z-index: 2;
}

.top-menu button {
  border-radius: 10px;
}

.bottom-menu ul li a{
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #383634;
}

.bottom-menu ul li:hover {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.main-detail summary {
  list-style: none;
}

.summary-arrow {
  height: 7px;
  width: 10px;
  transition: transform 0.3s ease;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.more-categories {
  display: none;
}

.mobile-catalog a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  color: gray;
}

.mobile-catalog a:hover {
  text-decoration: underline;
}