*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F0EA;
}

/* Globals styles */

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

/* Header section */

header {
  padding: 16px 0 0 0;
}

.logo {
  width: 110px;
  border-radius: 16px;
}

.catalog {
  width: 100px;
  border-radius: 16px;
  background: 2px solid #383634;
}

.search-box {
  width: 45%;
  border-radius: 16px;
  border: 2px solid #383634;
  display: flex;
  align-items: center;
  padding: 20px;
}

.md-search-box {
  width: 60%;
  border-radius: 10px;
}

.search-box input {
  flex: 1;
  width: 90%;
  height: 65px;
  background-color: #F2F0EA;
  border: none;
  outline: none;
}

#hamburger-menu-btn {
  border-radius: 10px;
}

#md-cart {
  border-radius: 10px;
}

.nav li a {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #383634;
}

.currency,
.user,
.cart {
  width: 78px;
  border-radius: 16px;
  background: 2px solid #383634;
}

.user:hover img,
.cart:hover img {
  filter: brightness(0) invert(1);
}

.cart:hover img,
.cart img {
  transition: fill 0.3s ease;
}

.currency select {
  outline: none;
  border: none;
}

/* Main section style */

.main-section {
  height: 550px;
  position: relative;
  margin-top: 10px;
  border-radius: 16px;
  z-index: -1;
  background-image: url("../img/home/bgPhoto.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-section img {
  max-width: 1376px;
  width: 100%;
}

.main-section .intro {
  position: absolute;
  left: 20px;
  bottom: 0;
}

.intro h1 {
  width: 60%;
  font-family: Oswald;
  font-weight: 500;
  line-height: 59px;
  color: #fff;
}

.intro p {
  width: 50%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.learn button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 253px;
  border-radius: 16px;
  border: 1px solid #383634
}

/* New arrivals section */

.new-arrival-section {
  padding: 30px 0;
}

.new-arrival-header {
  height: 100px;
  margin-top: 20px;
}

.new-arrival-header p {
  font-family: Oswald;
  font-size: 44px;
  font-weight: 500;
  line-height: 59px;
}

.new-arrival-cards {
  height: 395px;
  overflow-y: scroll;
}

.new-arrival-cards .card {
  height: 99%;
  background-color: #fff;
  border-radius: 16px;
  z-index: -1;
}

.discount img {
  padding: 5px 5px 0 0;
}

.product-image-and-title img {
  width: 200px;
  height: 200px;
}

.product-image-and-title h5 {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
}

/* Discounted Section */

.discounted-main-con {
  background-color: #383634;
  padding: 30px 0;
}

.discounted-header h1 {
  color: #fff;
  padding: 20px 0;
}

.discounted-cards {
  height: 395px;
  overflow-y: scroll;
}

.discounted-cards .card {
  height: 99%;
  background-color: #fff;
  border-radius: 16px;
  z-index: 0;
}
/* Partners section */

.partners-main-con .partners-intro .title {
  font-family: Oswald;
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
}

.partners-main-con .partners-intro {
  width: 50%;
}

.partners-intro .partners-description {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* About section */

.about-section-con {
  height: 450px;
  background-image: url('../img/home/premium_photo-1683133499812-cde72f3a0f6c-transformed\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer section */

footer {
  background-color: #383634;
}

footer ul li a {
  color: #F2F0EA;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

footer .location {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #F2F0EA;
}

footer .address {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.left-footer {
  border-bottom: 1px solid #fff;
}

.footer-social-links ul {
  padding: 0;
  margin: 0;
}

.footer-newsletter .signup-text {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #F2F0EA;
}

.footer-newsletter input {
  background-color: #383634;
}

.footer-newsletter .copy-right {
  color: #F2F0EA;
}

/* Media Queries */

@media screen and (min-width: 992px) {
  .new-arrival-cards .card{
    flex: 1 0 calc(25% - 10px);
    min-width: 0; 
    max-width: calc(25% - 10px); 
    padding: 10px;
    margin: 3px 2px;
  }

  .discounted-cards .card{
    flex: 1 0 calc(25% - 10px);
    min-width: 0; 
    max-width: calc(25% - 10px); 
    padding: 10px;
    margin: 3px 2px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .new-arrival-cards .card {
    flex: 1 0 calc(33.333% - 6px);
    min-width: 0; 
    max-width: calc(33.333% - 6px); 
    margin: 3px 3px;
  }

  .discounted-cards  .card {
    flex: 1 0 calc(33.333% - 6px);
    min-width: 0; 
    max-width: calc(33.333% - 6px); 
    margin: 3px 3px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .new-arrival-cards {
    height: auto;
    overflow-y: unset;
  }
  
  .new-arrival-cards .card {
    flex: 1 0 49%;
    min-width: 0; 
    max-width: calc(49%); 
    margin: 3px 3px;
  }

  .discounted-cards {
    height: auto;
    overflow-y: unset;
  }
  
  .discounted-cards .card {
    flex: 1 0 49%;
    min-width: 0; 
    max-width: calc(49%); 
    margin: 3px 3px;
  }
}

@media screen and (max-width: 576px) {
  .new-arrival-cards {
    height: auto;
    overflow-y: unset;
  }

  .new-arrival-cards .card {
    flex: 1 0 49%;
    min-width: 0; 
    margin: 3px 3px;
  }

  .discounted-cards {
    height: auto;
    overflow-y: unset;
  }

  .discounted-cards .card {
    flex: 1 0 49%;
    min-width: 0; 
    margin: 3px 3px;
  }

  .partners-main-con {
    flex-direction: column;
  }

  .partners-main-con .partners-intro,
  .partners-btn-div {
    width: 100%;
  }
  .partners-btn-div button{
    margin: 20px 0;
    width: 100%;
    height: 150px;
  }
}